/* playball-regular - latin */
@font-face {
    font-family: 'Playball',sans-serif;
    src: url('fonts/playball-v9-latin-regular.svg');
      }

 /* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url('fonts/montserrat-v14-latin-regular.svg');     
  }
  /* montserrat-900 - latin */
  @font-face {
    font-family: 'Montserrat',sans-serif;
    src: url('fonts/montserrat-v14-latin-regular.svg');
    
  }

  /* roboto-slab-regular - latin */
@font-face {
    font-family: 'Roboto Slab',sans-serif;
    src: url('fonts/roboto-v20-latin-regular.svg');
    
  }
  
  /* grenze-500italic - latin */
  @font-face {
    font-family: 'Grenze',sans-serif;
    src: url('fonts/grenze-v1-latin-500italic.svg');     
  }

  .conteiner{
      width: 1000px;
      margin: 0 auto;
  }

  .navigation{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 50px;
    
  }

  .logo{
      text-decoration: none;
      color: #fed136;
      font-family: 'Playball';
      font-size: 26px;
      display:inline-block;
  } 
  .site-nav{
    display: flex;
    justify-content: space-between;
  }
  .site-nav li {
    margin-right: 35px;
  }
  .site-nav li :nth-last-child(5n){
    margin-right:0;
  }

  .nav-title{
    display: block;
    font-family: 'Montserrat';
    text-decoration: none;
    color:#222222;
    font-size: 14px;
    text-transform: uppercase;
  }
  .site-nav :hover{
    color: #fed136;
    transition: color 0.2s linear;
  }

  .title{
      font-size: 40px;
      font-family: 'Montserrat';
      color:#222222;
      text-align: center;
      text-transform: uppercase;
      font-weight: 900;
      font-style: normal;
      line-height: 1,85px;
      
}



  
  .title-text{
    text-align: center;
    font-family: 'Grenze';
    font-style: italic;
    color: #777777;
    font-size: 16px;
    padding-bottom: 75px;
    line-height: 25px;
    
  }

  .services{
    padding-top: 111px;
  }
  .services-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 100px;
  
}
.service-icon{
    width: 300px;
    text-align: center;


}


  .service-icon::before{
    content: '';
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    width:75px;
    height: 75px;
    margin: 0 auto;
  
    
  }
  .comerce::before {
    background-image: url('../img/Icon-Basket.png');
  }
  .responcive::before {
    background-image: url('../img/Icon-Laptop.png');
  }
  .web::before {
    background-image: url('../img/Icon-Locked.png');
  }


  .service-titel{

    padding-top: 30px;
    padding-bottom: 30px;
    font-family: 'Montserrat';
    color: #222222;
    font-weight: bold;
    
    
  }
  .service-text{
      font-size: 14PX;
      color: #777777;
      font-family: 'Roboto Slab';
      line-height: 20px;


  }
  .contact{
      background-color: #222222;
      background-image: url('../img/Map\ Image.png');
      background-repeat: no-repeat;
      background-position: right;
      padding-top: 100px;
      padding-bottom: 100px;
      

  }
 .second{
     color: #ffffff;
 }


form{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  
}
input[type="mail"]:valid{
  border-color: rgba(63, 185, 4, 1);
}
input[type="mail"]:invalid{
  border-color: rgba(255, 102, 0, 1);
}
input[type="text"]:valid{
  border-color: rgba(63, 185, 4, 1);
}
input[type="text"]:invalid{
  border-color: rgba(255, 102, 0, 1);
}



 .wrapper-form{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    
 }

 textarea {
  display: flex;
  width: 450px;
  height: 229px;
  color: #bbbbbb;
  font-family: 'Montserrat';
  font-size: 14px;
  text-transform: uppercase;
  text-indent: 6px;
  

}

 input { 
    display: flex;
    width: 450px;
    height: 52px;
    line-height: 30px;
    margin-bottom: 30px;
    border-radius: 0px;
    text-indent: 6px;
    color: #bbbbbb;
    font-family: 'Montserrat';
    font-size: 14px;
    text-transform: uppercase;
  }
  
  input[type="submit"]:hover{
    background-color:#3fb904;
    color:#000000;
    transition: 0.3s;
  }
 

  input[type="submit"] {
    display: flex;
    flex-direction: row;
    height: 65px;
    width: 240px;
    margin-top: 30px;
    background-color:#fed136;
    border-style: none;
    color: #eee;
    justify-content: center;
    cursor: pointer; 
    border-radius: 2px;
    margin: 0 auto;
            
}
