.banner{
    width: 100%;
    min-height: 1000px;
    background-image: linear-gradient(to bottom, rgba(243,129,129,0.9) 0%, rgba(252,227,138,1) 100%), url("/src/images/features-icon/Layer 15.png");
       
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
