.banner{
    width: 100%;
    min-height: 1000px;
    background-image: $liner-gradient, url("../images/features-icon/Layer 15.png");
       
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
