input[type=email], [placeholder="Your Email..."]{
    width: 230px;
    height: 40px;
    border: 1px solid $color-milk;
    color:$color-milk;
    font-style: italic;


}

input[type=button],[value="Subscribe"] {
  background-color:$color-tifanny;
  border: none;
  color: white;
  cursor: pointer;
  width: 150px;
  height: 40px;
  text-transform: uppercase;
}