.page-footer {
    display: flex;
    flex-direction: row;
    flex-direction:row;
    align-items:center;
    position: relative;
    height: 62px;
    justify-content: space-between;
    border-top: 2px solid #e5e5e5 ; 

}