.social-icons {
    width: 56px;
    height: 56px;
    cursor: pointer;
    background-color: $color-lemon-milk;
    margin: 0.7px;
    
}

.social-icons:hover,

.page-header__slider_btn:hover {
    background-color: $color-coral;
    transition-duration: 200ms;
    transition-timing-function: linear;
     cursor: pointer;

}
.social-icons:hover .icon{
    fill: $color-white;

}

.social-icons a {
    @include center-flex("all");
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    


}
.social-icons svg{
    width: 32px;
    height: 32px;
    transition: fill 0.2s linear;
    fill: $color-coral;
    
    
}