.text-second {
    position: relative;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #333333;
    text-transform: uppercase;

}

.text-second:after {
    content: "";
    width: 60px;
    height: 3px;
    background-color: #f38181;
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 20px;
   
    
}
