html {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', 'Arial', sans-serif;
    color: #515151;
    font-size: 14px;

}


.clearfix::after {
    display: table;
    content: '';
    clear: both;
}

.container {
    width: 1110px;
    margin: auto;
    height: auto;
}

/* logo */
.page-nav {
    width: 1110px;
    padding-bottom: 100px;
}

a.site-logo {
    display: block;
    text-transform: uppercase;
    color: #515151;
    font-size: 32px;
    text-decoration: none;
    float: left;

}

a.site-logo ::first-letter {
    color: #1abc9c;
    font-weight: bolder;
}

/* navigation */


.site-navigation {
    display: block;
    float: right;
    list-style: none;
    margin-top: 8px;

}

.site-navigation li {
    float: left;
}

.site-navigation li:not(:last-child) {
    margin-right: 20px;
}

.site-navigation a {
    display: block;
    text-transform: uppercase;
    color: #515151;
    font-size: 14px;
    list-style: none;
    text-decoration: none;
    font-weight: bolder;
    line-height: 11px;


}


.site-navigation a:hover,
.site-navigation a:focus {
    color: #1abc9c;
}


/* gallery */

.main-products-list{
    padding-bottom: 100px;
}
h2.main-titel {
    color: #515151;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 48px;
    line-height: 38px;
    text-align: center;
  

}

h2::after {
    content: "";
    text-align: center;
    display: block;
    width: 164px;
    height: 7px;
    background-color: #1abc9c;
    margin: 0 auto;
    margin-top: 30px;   

}

.products {
    list-style: none;
    padding-top: 50px;
}

/* prodacts */
figure {
    margin-right: 15px;
    margin-left: 0;
    margin-bottom: 15px;


}

.main-product {
    background-color: #e9f0fd;
    float: left;
    text-align: center;
    list-style: none;
    margin-right: 30px;
    margin-bottom: 30px;
    position: relative;

}
.main-product:nth-child(4n){
    margin-right: 0;
    }

.img {
    display: block;
    max-width: 100%;
    height: auto;

}

.main-product-list {
    position: absolute;
    bottom: 0;

}
.main-product-name, 
.prise{
  float: left;
  margin: 0;
  font-size: 18px;
  color:#fff;
  padding-top: 7px;
  padding-bottom: 7px;
  font-weight: 250px;
  text-transform: uppercase;  
}


.main-product-name {
    width: 172px;
    padding-left:14px;
    padding-right:14px;
    background-color: #323232;
    color: #ffffff;
    font-size: 18px;
    
}



.main-product:hover .main-product-name
 {
    color: #fff;
    background: #1abc9c;

}

.main-product:hover .prise
 {
    color: #fff;
    background: #1abc9c;

}




.prise {
  width:50px;
  background-color: #8c8c8c;
  text-align: center;
  color: #ffffff;


}

/* BLOG */
.blog{
    margin-bottom: 30px;
}

.blog-titel {
    float: left;
    margin-bottom: 50px;
    
}


.blog-slide {
    float: left;
    display: block;
    width: 350px;
    padding: 0px 5px;
    }
.blog-slide:nth-child(3n){
    margin-right: 0;
    }


.blog-slide-titel {
    font-size: 18px;
    padding-top: 17px;
    padding-bottom: 17px;
    font-weight: bolder;
}

.blog-slide-titel::after {
    content: "";
    text-align: center;
    display: block;
    width: 136px;
    height: 3px;
    background-color: #1abc9c;
    margin-top: 17px;
    line-height: 22px;
    font-weight: bold;
}

.blog-slide-text {
    padding-bottom: 17px;
    line-height: 22px;
}



.button-text {
    display: block;
    color: #ffffff;
    text-decoration: none;
    font-size: 24px;
    width: 160px;
    height: 41px;
    background-color: #323232;
    border-radius: 5px;
    text-align: center;
    padding-top: 14px;
    line-height: 24px;
    
}

.button-text:hover{
    background-color: #1abc9c;
}