$main-font-stack: 'Montserrat', 'Arial', sans-serif;
$color-dark-grey: #333333;
$color-tifanny: #95e1d3;
$color-milk: #e7e7e7;
$color-coral: #f38181;
$color-white: #ffffff;
$color-lemon-milk: #fce38a;
$liner-gradient: linear-gradient(to bottom, rgba(243,129,129,0.9) 0%, rgba(252,227,138,1) 100%);